<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head> -->
<% layout("/layouts/boilerplate") -%>

    <body>

        <div class="row">
            <div class="col-8 offset-2">
                <br><br>
                <h3>Create New Listing</h3>
                <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
                        <div class="valid-feedback">title looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="enter description..." type="text"
                            class="form-control" required></textarea>
                    </div>

                    <!-- <div class="mb-3">
                        <input type="text" name="listing[image]" class="form-control" id="imageInput" 
                            placeholder="Paste image URL here">
                        <img id="imagePreview" class="mt-3 img-fluid rounded" style="max-height: 300px;"
                            alt="img preview" />
                        <div class="valid-feedback">*default image will be assigned if not specified</div>
                    </div> -->

                    <div class="mb-3">
                        <input type="file" name="listing[image]" class="form-control" id="imageInput" 
                            placeholder="upload image  here" required>
                    </div>

                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="1200" type="number" class="form-control" required>
                            <div class="invalid-feedback">price should be valid</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                            <div class="invalid-feedback">country name should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Jaipur,Rajasthan" class="form-control" required>
                        <div class="invalid-feedback">location name should be valid</div>
                    </div>
                    <br>
                    <button class="btn btn-dark add-btn">Add</button>
                    <br><br>

                </form>
            </div>
        </div>
        <script>
            const imageInput = document.getElementById('imageInput');
            const imagePreview = document.getElementById('imagePreview');

            imageInput.addEventListener('input', () => {
                imagePreview.src = imageInput.value;
            });
        </script>
    </body>
    <!-- </html> -->